<ion-header>
    <ion-toolbar>
        <ion-title>Home</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header>
            <ion-card-title>Why this app</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <p>Have you ever had a problem of choosing a place where to eat during lunch break?
                You don't want to go somewhere far, you want to find some place nearby. This app will help you to choose a place.</p>
        </ion-card-content>

    </ion-card>
    <div #Map class="map"></div>
    <ion-card>
        <ion-card-header>
            <ion-card-title>Google map</ion-card-title>
        </ion-card-header>
        <ion-card-content>

        </ion-card-content>
    </ion-card>

</ion-content>
